$backround-color: #EEEEEE;
$newsfeed-background: #1eacd2;
$white-color: #FFFFFF;

body {
  background: $backround-color;
  margin: 50px 0px;
}

.news-feed-title {
  display: flex;
  justify-content: center;
  align-items: center;
 
  &__status {
    width: 15px;
    height: 15px;
    border-radius: 20px;
    margin-top: 3px;
    margin-right: 5px;
  }

  &__green {
    background-color: green;
  }

  &__red {
    background-color: red;
  }

  &__title {
    font-size: 24px;
    font-weight: 500;
  
  }
}


.news-feed {
  text-align: center;

  &__element {
    display: block;
    background: $newsfeed-background;
    border-radius: 5px;
    width: 50%;
    margin: 20px auto;
    min-height: 150px;
    padding: 20px;
    position: relative;
  }

  &__author-image {
    background: $white-color;
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }
  
  &__author-info-wrapper {
    display: flex;
    text-align: left;
    padding-bottom: 10px;
  }
  
  &__author-info {
    margin-left: 5px;
  }
  
  &__author {
    font-weight: bold;
  }
  
  &__data {
    font-size: 12px;
  }
  
  &__description {
    text-align: start;
    margin-top: 10px;
  }

  &__reaction {
    display: flex;
    justify-content: space-between;
    text-align: start;
    position: absolute;
    bottom: 15px;
    width: 40px;

    img {
      width: 26px;
    }
  }
  
}

.comment-section {

  &__textarea {
    display: block;
    border-radius: 5px;
    width: 50%;
    margin: 20px auto;
    padding: 20px;
  }

  &__submit-button {
    width: 85px;
    height: 35px;
    font-size: 16px;
    font-weight: 500;
  }
}

.loader {
  display: flex;
  margin: 0 auto;
  align-items: center;
  position: relative;
  transform: translateY(95%);
}


